@charset "UTF-8";
body{font-family:'맑은 고딕','malgin gothic','돋움',dotum,sans-serif;}
*{margin: 0;padding: 0;list-style:none;text-decoration:none;box-sizing:border-box;}
/*----------------------------------------------------cover*/
#cover{width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: rgba(0,0,0,0.8);display:none;z-index:9999;}
/*----------------------------------------------------popup*/
#popup{position: fixed;left:0;top:50%;transform:translateY(-50%);z-index:99999;width: 100%;}
#popup .banner-active{width: 100%;margin:0 auto;}
#popup .banner-active li{text-align:center;display:none;}
#popup .btn_close{position: absolute;left: 50%;bottom:-30px;transform:translate(-50%);width: 50px;height: 30px;border:none;background:#ce2a30;color:#fff;border-radius:10px;cursor:pointer;outline:none;display:none;}
#wrap{width: 960px;margin:0 auto;overflow:hidden;}
/*----------------------------------------------------header*/
#wrap header{width: 960px;height: 110px;}
#wrap header .logo{float:left;margin-top:35px;}
#wrap header nav{float:left;margin:43px 0 0 200px;}
#wrap header nav .gnb{}
#wrap header nav .gnb>li{position: relative;float:left;}
#wrap header nav .gnb>li>a{display:block;text-align:center;width: 150px;height: 30px;line-height: 30px;color:#666;font-weight:bold;}
#wrap header nav .gnb>li:hover>a{background:#ce2a30;color:#fff;}
#wrap header nav .gnb>li>.depth2{position:absolute;left:50%;top:30px;margin-left:-75px;background:rgba(255,255,255,0.6);display:none;z-index:99999;}
#wrap header nav .gnb>li>.depth2 li a{display:block;width: 150px;height: 30px;line-height:30px;text-align:center;font-weight:bold;color:#666;}
#wrap header nav .gnb>li>.depth2 li a:hover{background:#e0e0e0;color:#fff;}
/*----------------------------------------------------main*/
#wrap main{position: relative;width: 100%;overflow:hidden;}
#wrap main .slider{height: 429px;overflow:hidden;}
#wrap main .slider ul{width:3840px;height: 429px;}
#wrap main .slider ul li{float:left;}
#wrap main .text{position: absolute;left:280px;top:145px;width: 400px;height: 160px;background:rgba(255,255,255,0.6);border-radius:40px;text-align:center;font-size:24px;font-weight:bold;color:#ce2a30;line-height:160px;}
/*----------------------------------------------------contents*/
#contents .money{float:left;width: 55%;height: 446px;}
#contents .money h2{text-align:center;padding:14px 0 44px;}
#contents .money table{width: 100%;border-spacing:0;padding-right:10px;}
#contents .money th{height: 60px;background: #ce2a30;color:#fff;font-size:12px;border-right:1px solid #fff;}
#contents .money td{height: 60px;font-size:12px;text-indent:5px;border-bottom:1px solid #666;}
#contents .pot{float:right;}
#contents .pot h2{text-align:center;padding:14px 0;}
#contents .pot .banner{overflow:hidden;height:360px;width: 432px;}
#contents .pot .banner li{float:left;}
#contents .pot .banner .l_1,#contents .pot .banner .l_3{margin-right:10px;}
#contents .pot .banner .l_1,#contents .pot .banner .l_2{margin-bottom:6px;}
#contents .pot .banner li a{display:block;}
#contents .pot .banner li a img{width:210px;}
#contents .icon{clear:both;padding-bottom:20px;}
#contents .icon .icon_list{overflow:hidden;text-align:center;}
#contents .icon .icon_list li{display:inline-block;margin-right:26px;}
#contents .icon .icon_list li p a{color:#333;font-weight:bold;font-size:14px;transition:all 0.3s ease;}
#contents .icon .icon_list li:hover p a{color:#ce2a30;}
/*----------------------------------------------------footer*/
footer{padding:3px 5px 5px 15px;height: 70px;background:#e0e0e0;}
footer .f_logo{float:left;margin-top:17px;}
footer .f_logo img{width: 180px;}
footer .box{float:right;}
footer .box h2{color:#666;font-size:12px;margin-bottom:2px;}
footer .box h3{color:#666;font-size:12px;}
footer .link{margin-bottom:5px;}
footer .link li{position: relative;display:inline-block;padding-right:8px;}
footer .link li:first-child::after{content:'';position: absolute;right: 0px;top: 6px;width: 1px;height: 12px;background:#777;}
footer .link li a{color:#333;font-weight:bold;font-size:14px;}