@charset "UTF-8";
*{padding: 0;margin: 0;list-style:none;text-decoration:none;}
body{font-family:"맑은 고딕","malgun gothic","돋움",dotum,sans-serif;color:#333;background: #fff;}
#cover{position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.8);z-index:9999;display:none;}
#notice_active{position: fixed;left: 50%;top: 180px;transform:translateX(-50%);width: 500px;height: 500px;z-index:99999;background: rgba(0,0,0,0.7);padding:20px;box-sizing:border-box;border-radius:20px;display:none;}
#notice_active h2{font-size:18px;color:#fff;padding-bottom:15px;border-bottom:1px solid #fff;}
#notice_active h3{font-size:14px;color:#fff;padding-bottom:15px;line-height:30px;border-bottom:1px solid #fff;}
#notice_active .btn_close{display:block;margin:0 auto;margin-top:15px;width: 50px;height: 30px;border-radius:5px;background: none;border:2px solid #fff;color:#fff;font-size:14px;font-weight:bold;cursor:pointer;outline:none;}
#wrap{width: 1200px;margin:0 auto;position: relative;}
/*-------------------------------------------------------header*/
#wrap .header{width: 100%;height: 100px;box-sizing:border-box;border-bottom:1px solid #737373;position: relative;}
#wrap .header .depth2_cover{width: 100%;position: absolute;left: 0;top:100px;z-index:9999;background: rgb(255,255,255,0.9);height: 130px;display:none;}
#wrap .header .logo{float:left;padding:30px 0 0 10px;}
#wrap .header .logo a{display:block;text-indent:-99999px;background: url('./../images/logo.png')no-repeat;width: 200px;height: 40px;}
#wrap .header .gnb{float:right;margin:59px 10px 0 0;}
#wrap .header .gnb>li{float:left;position: relative;}
#wrap .header .gnb>li>a{display:block;width: 150px;height: 40px;line-height:40px;text-align:center;color:#737373;font-weight:bold;transition:all 0.3s ease;font-size:18px;}
#wrap .header .gnb>li:hover>a{background: #00c73c;color:#fff;}
#wrap .header .gnb>li .depth2_wrap .depth2{position: absolute;left: 0;top:41px;width: 100%;height: 130px;text-align:center;display:none;z-index:99999;}
#wrap .header .gnb>li .depth2_wrap .depth2 li a{display:block;height: 30px;line-height:30px;color:#737373;font-size:14px;font-weight:bold;}
#wrap .header .gnb>li .depth2_wrap .depth2 li a:hover{color:#00c73c;}
/*-------------------------------------------------------main*/
/*-------------------------------------------------------slide*/
#wrap .main{position: relative;}
#wrap .main .slide{height: 300px;width: 100%;overflow:hidden;}
#wrap .main .slide .slide_inner{height: 900px;width: 100%;}
#wrap .main .text{position: absolute;width: 400px;height: 150px;left:400px;top: 75px;background:rgba(255,255,255,0.7);line-height:150px;text-align:center;color:#333;font-weight:bold;border-radius:20px;}
/*-------------------------------------------------------c_1*/
#wrap .main .contents{width: 100%;height: 200px;}
#wrap .main .contents .c_1{float:left;width: 35%;padding-left:10px;box-sizing:border-box;position: relative;}
#wrap .main .contents .c_1 .tab{width: 100px;height: 30px;border:2px solid #00c73c;text-align:center;line-height:30px;position: absolute;left: 10px;top: 8px;background: #fff;border-bottom:none;border-radius:12px 12px 0px 0;}
#wrap .main .contents .c_1 .tab a{font-size:14px;font-weight:bold;color:#737373;transition:all 0.3s ease;}
#wrap .main .contents .c_1 .tab:hover a{color:#00c73c;}
#wrap .main .contents .c_1 .notice{overflow:hidden;border:2px solid #00c73c;margin-top:38px;border-radius:0 15px 15px 15px;}
#wrap .main .contents .c_1 .notice .tit{float:left;}
#wrap .main .contents .c_1 .notice .date{float:right;margin-right:10px;}
#wrap .main .contents .c_1 .notice ul li a{display:block;font-size:14px;color:#333;height: 30px;line-height:30px;}
#wrap .main .contents .c_1 .notice .tit li a{text-indent:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width: 300px;}
#wrap .main .contents .c_1 .notice .tit li a:hover{text-decoration:underline;font-weight:bold;color:#00c73c;}
#wrap .main .contents .c_1 .notice .date li a:hover{color:#00c73c;}
/*-------------------------------------------------------c_2*/
#wrap .main .contents .c_2{float:left;width: 35%;position: relative;margin-left:10px;}
#wrap .main .contents .c_2 .tab{width: 100px;height: 30px;border:2px solid #00c73c;text-align:center;line-height:30px;position: absolute;left:0px;top: 8px;background: #fff;border-bottom:none;border-radius:12px 12px 0px 0;}
#wrap .main .contents .c_2 .tab a{font-size:14px;font-weight:bold;color:#737373;transition:all 0.3s ease;}
#wrap .main .contents .c_2 .tab:hover a{color:#00c73c;}
#wrap .main .contents .c_2 .gr{overflow:hidden;border:2px solid #00c73c;margin-top:38px;padding:13px 12px;border-radius:0 15px 15px 15px;}
#wrap .main .contents .c_2 .gr li{float:left;margin-right:10px;}
#wrap .main .contents .c_2 .gr .l_3{margin-right:0px;}
#wrap .main .contents .c_2 .gr li a{display:block;width: 124px;height: 124px;overflow:hidden;}
#wrap .main .contents .c_2 .gr li a img{transition:all 0.3s ease;}
#wrap .main .contents .c_2 .gr li a:hover img{transform:scale(1.2);}
/*-------------------------------------------------------c_3*/
#wrap .main .contents .c_3{float:right;width:350px;}
#wrap .main .contents .c_3 p{text-align:center;padding:10px 0 5px 0;}
#wrap .main .contents .c_3 p a{font-size:20px;color:#737373;font-weight:bold;transition:all 0.3s ease;}
#wrap .main .contents .c_3 p a:hover{color:#00c73c;}
#wrap .main .contents .c_3 .icon{overflow:hidden;text-align:center;padding:21px 0 15px;}
#wrap .main .contents .c_3 .icon li{float:left;margin-right:30px;}
#wrap .main .contents .c_3 .icon .l_1{margin-left:10px;}
#wrap .main .contents .c_3 .icon .l_3{margin-right:0px;}
#wrap .main .contents .c_3 .icon li a{display:block;overflow:hidden;}
#wrap .main .contents .c_3 .icon li a img{width: 90px;}
#wrap .main .contents .c_3 .icon li a h2{font-size:14px;font-weight:bold;color:#737373;transition:all 0.3s ease;transform:translateY(18px);}
#wrap .main .contents .c_3 .icon li a:hover h2{transform:translateY(0);}
#wrap .main .contents .c_3 .icon li a h2:hover{color:#00c73c;}
/*-------------------------------------------------------footer*/
#wrap .footer{width: 100%;height: 100px;position: relative;background: #fff;border-top:1px solid #737373;box-sizing:border-box;}
#wrap .footer .f_1{float:left;box-sizing:border-box;padding:5px 0 0 10px;}
#wrap .footer .f_1 .f_logo{position: absolute;left:10px;bottom:15px;}
#wrap .footer .f_1 .f_logo a{display:block;width: 200px;height: 40px;background: url('./../images/logo.png')no-repeat;text-indent:-99999px;}
#wrap .footer .f_1 .util{overflow:hidden;float:left;}
#wrap .footer .f_1 .util li{float:left;}
#wrap .footer .f_1 .util li a{font-size:12px;color:#333;margin-right:10px;}
#wrap .footer .f_1 .util li a:hover{text-decoration:underline;}
#wrap .footer .f_1 .text{float:left;font-size:11px;margin-top:4px;}
#wrap .footer .f_1 .copy{position: absolute;left: 280px;bottom: 0px;font-size:11px;}

#wrap .footer .f_2{float:right;padding:12px 10px 0 0;}

#wrap .footer .f_2 .sns{overflow:hidden;}
#wrap .footer .f_2 .sns li{float:left;margin-left:10px;}
#wrap .footer .f_2 .sns li a{display:block;}
#wrap .footer .f_2 .sns li a img{width: 36px;}
#wrap .footer .f_2 .family{position: relative;}
#wrap .footer .f_2 .family .btn_family{width: 128px;height: 28px;background:#7c7c7c url('./../images/arrow.png')no-repeat 90% center;border:none;cursor:pointer;outline:none;color:#fff;font-size:12px;text-indent:-10px;margin:3px 0 0 10px;}
#wrap .footer .f_2 .family .btn_family.on{background:#7c7c7c url('./../images/arrow_on.png')no-repeat 90% center;border-radius:0 0 5px 5px;}
#wrap .footer .f_2 .family .family_list{position: absolute;left: 10px;bottom: 28px;width:128px;border:2px solid #737373;box-sizing:border-box;display:none;background: #fff;border-radius:5px 5px 0 0;}
#wrap .footer .f_2 .family .family_list li a{display:block;color:#333;height: 28px;line-height: 28px;text-indent:5px;border-bottom:1px solid #737373;}
#wrap .footer .f_2 .family .family_list li:hover a{font-weight:bold;}